<div class="row">
  <div class="col-md-6">
    <h4 class="box-title">Filtro per entrenador</h4>
    <select
      id="school_selector"
      (change)="changeIdEntrenador(idEntrenador)"
      [(ngModel)]="idEntrenador"
    >
      <option value="all">All</option>
      <option
        *ngFor="let entrenador of entrenadores"
        value="{{ entrenador.IdEntrenador }}"
      >
        {{ entrenador.nombre }}
      </option>
    </select>
    <div *ngFor="let equipo of equiposEntrenador">
      {{ equipo.nombre }}
      <button type="button" (click)="desasociarEquipoEntrenador(equipo)">
        X
      </button>
    </div>
  </div>
  <div class="col-md-6">
    <h4>Crear entrenador</h4>
    <input type="text" [(ngModel)]="nombreEntrenador" />
    <button type="button" (click)="crearEntrenador(nombreEntrenador)">
      Crear
    </button>
  </div>
  <div class="col-md-6">
    <h4>Ver entrenadores por separado</h4>
    <button type="button" (click)="verHorariosEntrenadores()">Ver</button>
  </div>

  <div class="col-md-6">
    <h4>Crear equipo</h4>
    <input type="text" [(ngModel)]="nombreEquipo" />
    <input type="color" [(ngModel)]="colorEquipo" />
    <button
      type="button"
      (click)="crearEquipo(nombreEquipo, colorEquipo)"
      [disabled]="nombreEquipo.lenght == 0 && colorEquipo.lenght == 0"
    >
      Crear
    </button>
  </div>
  <div class="col-md-6">
    <h4>Asociar equipo - entrenador</h4>
    <label>Entrenador:</label>
    <select
      (change)="changeIdEntrenador(idEntrenador)"
      [(ngModel)]="asociarEntrenador"
    >
      <option *ngFor="let entrenador of entrenadores" [ngValue]="entrenador">
        {{ entrenador.nombre }}
      </option>
    </select>

    <label>Equipo:</label>
    <select [(ngModel)]="asociarEquipo">
      <option *ngFor="let equipo of equipos" [ngValue]="equipo">
        {{ equipo.nombre }}
      </option>
    </select>

    <button
      type="button"
      (click)="asociarEntrenadorEquipo(asociarEntrenador, asociarEquipo)"
    >
      Asociar
    </button>
  </div>
  <div class="col-md-6">
    <h4>Entrenadores:</h4>
    <div *ngFor="let entrenador of asociarEquipo?.Entrenadores">
      {{ entrenador.nombre }}
      <button
        type="button"
        (click)="
          borrarEntrenadorEquipo(
            entrenador.IdEntrenador,
            asociarEquipo?.IdEquipo
          )
        "
      >
        X
      </button>
    </div>
  </div>
  <div class="col-md-12">
    <button type="button" (click)="guardarEventos()">GUARDAR</button>
    <button type="button" (click)="exportar()">exportar</button>
  </div>
  <div class="col-md-10">
    <!--<p>Display event : {{displayEvent | json}}</p>-->
    <div *ngIf="calendarOptions">
      <!--<ng-fullcalendar #ucCalendar (drop)="drop(eventSelect)" [options]="calendarOptions" (eventClick)="eventClick($event.detail)" (eventDrop)="updateEvent($event.detail)"
			 (eventResize)="updateEvent($event.detail)" (clickButton)="clickButton($event.detail)" (eventRender) = "eventRender($event)" [(eventsModel)]="events"></ng-fullcalendar>-->
      <angular2-fullcalendar
        [options]="calendarOptions"
        (initialized)="onCalendarInit($event)"
      ></angular2-fullcalendar>
    </div>
  </div>

  <div class="col-md-2">
    <div id="external-events">
      <p>
        <strong>Draggable Events</strong>
      </p>
      <div
        *ngFor="let equipo of equipos"
        class="fc-event ui-draggable ui-draggable-handle"
        [id]="equipo.IdEquipo"
        (click)="selectEquipoDrop(equipo)"
        [ngStyle]="{ 'background-color': equipo.color }"
      >
        {{ equipo.nombre }} {{getEventsByEquipo(equipo.IdEquipo)}}
        <button type="button" (click)="borrarEquipo(equipo)">X</button>
      </div>
      <p>
        <input type="checkbox" id="drop-remove" />
        <label for="drop-remove">remove after drop</label>
      </p>
    </div>
  </div>
</div>
