p {
  font-family: Lato;
}
.ng-draggable {
  cursor: move;
}


#external-events {
  padding: 0 10px;
  border: 1px solid #ccc;
  background: #eee;
}

#external-events .fc-event {
  margin: 1em 0;
  cursor: move;
  padding: 5px;
  color: #000;
}
